.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  padding: 15px 40px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
}

.navLinks {
  display: flex;
  gap: 30px;
  list-style: none;
}

.navLinks li a {
  text-decoration: none;
  color: #374151;
  font-weight: 500;
  transition: color 0.2s ease;
}

.navLinks li a:hover {
  color: #f97316;
}

.active a {
  color: #f97316  !important;
  font-weight: 700;
}

.logo {
  font-size: 22px;
  font-weight: 700;
  color: #f97316;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #e5e7eb;
}
