.updateOrderPage {
  padding: 50px 100px;
  /* padding: 30px; */
  background: #f8f9fc;
  min-height: 100vh;
}

.header {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

.backBtn {
  border: none;
  background: none;
  font-size: 18px;
  cursor: pointer;
}

.container {
  display: flex;
  gap: 25px;
}

.leftColumn {
  flex: 2;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.rightColumn {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.card {
  padding: 10px;
  background: #fff;
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
}

.detailRow {
  display: flex;
  justify-content: space-between;
  margin: 8px 0;
}

.productItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px;
  background: #fafafa;
  border-radius: 8px;
  margin-top: 10px;
}

.productName {
  font-weight: 500;
}

.priceInfo {
  text-align: right;
}

.total {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

textarea {
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #ddd;
  resize: none;
}

.returnCard {
  background: #fff;
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
}

.returnHeader {
  /* border: 2px solid; */
  width: 500px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
  margin-bottom: 15px;
}

.returnIcon {
  width: 36px;     
  height: 36px;
  object-fit: contain;
}

.returnActions {
  /* border: 2px solid; */
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.acceptBtn {
  margin-left: -100px;
  margin-right: 30px;
  background: #00c853;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 6px;
  cursor: pointer;
}

.denyBtn {
  background: #e53935;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 6px;
  cursor: pointer;
}

.statusPaid {
  color: #00c853;
  font-weight: 600;
}

.dateInput {
  display: flex;
  align-items: center;
  gap: 8px;
  background: #fafafa;
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 8px;
  margin: 8px 0;
}

.radioGroup {
  /* display: flex; */
  gap: 15px;
  margin: 10px 0;
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 15px;
}

.updateBtn {
  background: #ff7a00;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
}

.cancelBtn {
  background: #f1f1f1;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  color: #333;
  cursor: pointer;
}
