.container {
  font-family: "Inter", sans-serif;
  background: #f7f7f7;
  min-height: 100vh;
}



.profileSection {
    margin: auto;
  padding: 2rem 5rem;
  width: 1300px;
}

.backBtn {
  background: none;
  border: none;
  font-size: 16px;
  margin-bottom: 1rem;
  cursor: pointer;
  color: #444;
}

.profileCard {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  padding: 1.5rem 2rem;
  border-radius: 12px;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 1rem;
}

.profileInfo {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.profileImgContainer {
  position: relative;
}

.profileImg {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

.cameraIcon {
  position: absolute;
  bottom: 0;
  right: 0;
  background: #ff6600;
  color: white;
  border-radius: 50%;
  padding: 2px 5px;
  font-size: 14px;
}

.editBtn {
  background: #ff6600;
  color: white;
  border: none;
  padding: 0.6rem 1rem;
  border-radius: 8px;
  cursor: pointer;
}

/* ===== Tabs ===== */
.tabs {
width: 800px;
  display: flex;
  background: white !important;
  border-radius: 12px;
  overflow: hidden;
 margin: auto;
 align-items: center;
 margin-bottom: 1.5em;
  
  border: none;
}

.tab {
  border: none;
  background: white !important;
  flex: 1;
  padding: 1rem;
  text-align: center;
  cursor: pointer;
  font-weight: 500;
  transition: 0.3s;
}


.active {
 
  border-bottom: 3px solid #ff6600;
  color: #ff6600;
}

.tabContent {
    
    
    width: 800px;
  background: #fff;
  border-radius: 12px;
  padding: 2rem;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1);
  margin: auto;
}
.p
.personalInfo h3 {
  margin-bottom: 1.5rem;
}

.form {
  display: flex;
  justify-content: space-around;
  gap: 1.5rem;
}

.formGroup label {
    
  font-weight: 500;
  
  margin-bottom: 0.3rem;
}

.formGroup input {
  width: 100%;
  padding: 0.6rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 15px;
}

.updateBtn {
  background: #007bff;
  color: white;
  border: none;
  padding: 0.7rem 1rem;
  border-radius: 8px;
  cursor: pointer;
}
