.header {
  /* padding: 70px 100px; */
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 20px;
  margin-bottom: 30px;
}

.banner {
  width: 618px;
  height: 250px;
  flex: 1.2;
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
}

.swiper {
  width: 100%;
  height: 100%;
}

.slide {
  position: relative;
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.text {
  position: absolute;
  bottom: 15px;
  left: 20px;
  color: #fff;
  background: rgba(0, 0, 0, 0.4);
  padding: 10px 18px;
  border-radius: 8px;
  font-weight: bold;
}

.wallet {
  width: 552px;
  flex: 0.8;
  background-color: #fff;
  border-radius: 10px;
  padding: 20px 25px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.amount {
  font-size: 28px;
  font-weight: 700;
  color: #111827;
  margin: 8px 0;
}

.withdraw {
  background-color: #f97316;
  color: white;
  border: none;
  padding: 8px 18px;
  border-radius: 6px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.2s;
}
