.card {
  /* margin: 50px 100px; */
  width: 478px;
  height: 292px;
  background-color: #fff;
  border-radius: 12px;
  padding: 20px 25px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
  flex: 1;
  min-width: 280px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 10px;
}

h3 {
  font-size: 18px;
  font-weight: 700;
  color: #111827;
  margin: 0;
}

.subTitle {
  font-size: 13px;
  color: #6b7280;
  margin-top: 2px;
}

.growth {
  display: flex;
  align-items: center;
  gap: 4px;
  font-weight: 600;
  font-size: 14px;
}

.arrow {
  color: #16a34a;
}

.percent {
  color: #16a34a;
}

.growthText {
  color: #6b7280;
  font-weight: 500;
}

.chartWrapper {
  position: relative;
  margin-top: 10px;
  width: 100%;
  overflow-x: hidden;
}

.chart {
  width: 100%;
  height: 120px;
}

.labels {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
  padding: 0 5px;
}

.label {
  font-size: 12px;
  color: #6b7280;
}
